schemaVersion: "2.0.0"
fileExistenceTests:
- name: trino-home
  path: /usr/lib/trino
  uid: 1000
  gid: 1000
- name: run-trino
  path: /usr/lib/trino/bin/run-trino
  permissions: '-rwxrwxr-x'
- name: trino-connector-db2
  path: /usr/lib/trino/plugin/db2
  uid: 1000
  gid: 1000
- name: trino-db2-*.jar
  path: /usr/lib/trino/plugin/db2/
metadataTest:
  env:
  - key: JAVA_HOME
    value: /opt/java/openjdk
  exposedPorts: ["8080"]
