name: test

on:
  push:
    paths-ignore:
    - '**.md'
  pull_request:
    paths-ignore:
    - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TRINO_VERSION: 356

    steps:
    - uses: actions/checkout@v2

    - name: Build and push Docker images
      uses: docker/build-push-action@v2
      with:
        context: .
        tags: shawnzhu/trino:test-only
        build-args: TRINO_VERSION=${{ env.TRINO_VERSION }}

    - uses: brpaz/structure-tests-action@v1.1.2
      with:
        image: "shawnzhu/trino:test-only"
        configFile: test_config.yaml
